<!DOCTYPE html>
<html xmlns:th="htpp://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<link
	href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
	rel="stylesheet"
	integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
	crossorigin="anonymous" />
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
<link
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous" />
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
	integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
	integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o"
	crossorigin="anonymous"></script>
<meta charset="UTF-8" />
<title>CreerVoie</title>
</head>
<body>
	<div layout:fragment="content" th:if="${#request.userPrincipal != null}">
		<div class="container">

			<div class="panel panel-default">
				<div class=" panel-heading">Créer une voie</div>
				<div class="panel-body">
					<form th:action="@{/site/{id}/voie/save(id=${idSite})}" method="post">
						<div class="form-group">
							<label class="control-label">Nom:</label> <input
								class="form-control" type="text" name="nom" />
						</div>
						<div class="form-group">
							<label class="control-label">Hauteur:</label> <input
								class="form-control" type="number" name="hauteur" />
						</div>
						<div class="form-group">
							<label class="control-label">Cotation:</label> <input
								class="form-control" type="text" name="cotation" />
						</div>
						<div class="form-group">
							<label class="control-label">Secteur:</label> <input
								class="form-control" type="text" name="secteur" />
						</div>
						<div>
							<button type="submit" class="btn btn-primary">Save</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>