<!DOCTYPE html>
<html xmlns:th="htpp://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<link
	href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
	rel="stylesheet"
	integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
	crossorigin="anonymous" />
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
<link
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous" />
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
	integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
	integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o"
	crossorigin="anonymous"></script>
<meta charset="UTF-8" />
<title>Profil</title>
</head>
<body>
	<div layout:fragment="content" th:if="${#request.userPrincipal != null}">
		<div class="card">
			<div class="card-header">
			<h3 class="card-title">Information Utilisateur</h3>
			</div>
			<div class="card-body">
			<h3>
				Commentaire 
			</h3>
			<table class="table">
				<thead>
					<tr>
						<th>pseudo</th>
						<th>prénom</th>
						<th>nom</th>
						<th>email</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="users:${utilisateur}">
						<td th:text="${users.username}"></td>
						<td th:text="${users.firstname}"></td>
						<td th:text="${users.lastname}"></td>
						<td th:text="${users.email}"></td>
					</tr>
				</tbody>
			</table>
		</div>
		</div>
				<div class="container">
			<h3>Mes topos</h3>
			<a class="btn btn-primary" th:if="${#request.userPrincipal != null}" th:href="@{/topo/creer}">Ajouter un Topo</a>
			<table class="table">
				<thead>
					<tr>
						<th>nom</th>
						<th>description</th>
						<th>disponible</th>
						<th>date</th>
						<th>supprimer</th>
					</tr>
				</thead>
				<tbody>
					 <tr th:each="lto:${listTopo}">
						 <td><a th:text="${lto.nom}"
							th:href="@{/topo/{id}/infoTopo (id=${lto.id})}"></a></td>
						<td th:text="${lto.description}"></td>
						<td th:text="${lto.disponible}"></td>
						<td th:text="${#dates.format(lto.date, 'dd-MM-yyyy HH:mm')}"></td>
						<td><a class="btn btn-primary"
							th:if="${utilisateur.id}==${lto.utilisateur.id}"
							onclick="return confirm('Etes vous sûre?')"
							th:href="@{/topo/{id}/supprimer (id=${lto.id})}">supprimer</a></td>
					</tr>
				</tbody>
			</table>
	</div>
</body>
</html>
