<!DOCTYPE html>
<html xmlns:th="htpp://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}" xmlns:
	sec=" http://www.thymeleaf.org/thymeleaf-extras-springsecurity5 ">
<head>
<link
	href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
	rel="stylesheet"
	integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
	crossorigin="anonymous" />
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
<link
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous" />
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
	integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
	integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o"
	crossorigin="anonymous"></script>
<meta charset="UTF-8" />
<title>Site</title>
</head>
<body>
	<div layout:fragment="content">
		<hr />
			<div class=" card col-md-6 container">
				<h3>Liste des Reservations émises</h3>
				<table class="table">
				<thead>
					<tr>
						<th>ID</th>
						<th>Topo</th>
						<th>Date Emprunt</th>
						<th>Accepter</th>
						
					</tr>
				</thead>
				<tbody>
					<tr th:each="resaEmise:${listeDeResaEmises}">
						<td th:text="${resaEmise.id}"></td>
						<td th:text="${resaEmise.topo.nom}"></td>
						<td th:text="${#dates.format(resaEmise.dateemprunt, 'dd-MM-yyyy HH:mm')}"></td>
						<td th:text="${resaEmise.acceptations}"></td>
						
					</tr>
				</tbody>
			</table>

		</div>
		<hr />
		<div class=" card col-md-6 container">
				<h3>Liste des Reservations reçues</h3>
				<table class="table">
				<thead>
					<tr>
						<th>ID</th>
						<th>Topo</th>
						<th>Date Emprunt</th>
						<th>Accepter</th>
						<th>Refuser</th>
						<th>Contacter<br/> le demandeur</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="resaRecues:${listeDeResaRecues}">
						<td th:text="${resaRecues.id}"></td>
						<td th:text="${resaRecues.topo.nom}"></td>
						<td th:text="${#dates.format(resaRecues.dateemprunt, 'dd-MM-yyyy HH:mm')}"></td>
						<td><a class="btn btn-success"
							th:href="@{/reservation/{id}/accepter(id=${resaRecues.id})}">Accepter</a></td>
						<td><a class="btn btn-danger"
							th:href="@{/reservation/{id}/refuser(id=${resaRecues.id})}">Refuser</a></td>
						 <td><a th:text="MAIL" class="btn btn-primary" th:href="'mailto:' + ${resaRecues.utilisateur.email}"></a></td>
					</tr>
				</tbody>
			</table>

		</div>
	</div>
</body>
</html>